<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
#results{
    width:600px;
    margin-bottom: 20px;
}
#source{ 
    width:600px;
    height:200px;
}
</style>
<script src="javascripts/esprima.js" type="text/javascript"></script>
<script src="javascripts/public.js" type="text/javascript"></script>
<script type="text/javascript" src="javascripts/underscore.js"></script>
    <title>Public.js</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Public.js</h1>
          <h2>Display the public interfaces for given JavaScript files</h2>
        </header>

        

        <hr>

        <section id="main_content">
          

<p>Enter your script into the source window, choose a output type, and hit 'convert' to see the result.</p>
<p>Here are some examples you can copy & paste:</p>
<ul>
    <li>
        <a target="_blank" href="http://requirejs.org/docs/release/2.1.6/minified/require.js">require.js</a>
    </li>
    <li>
        <a target="_blank"  href="http://code.jquery.com/jquery-1.10.1.js">jQuery</a>
    </li>
    <li>
        <a target="_blank"  href="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js">angular.js</a>
    </li>
</ul>

<p>Source:</p>
<textarea id="source"></textarea>

<p>Output type: <select id="outType">
<option value="1">QUnit test scaffold</option>
<option value="2">Documentation</option>
<option value="3">Object linting</option>
<option value="4">Public.js parse tree</option>
</select><button onclick="loadUrl()">Convert</button></p>

<p><span id='resultLabel'>Result:</span></p>
<div id="results" ><p style="color:#aaa">Enter source code and hit 'convert' to see a result</p></div>


        </section>

        <section id="downloads" class="clearfix">
          
          <a href="https://github.com/alex-seville/public.js" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

        <footer>
          Public.js is maintained by <a href="https://github.com/alex-seville">alex-seville</a><br>
          
        </footer>

        
      </div>
    </div>
    <script id="qunit_template" type="text/template">
<h3>//Qunit test scaffolding</h3>
<% _.each(data, function(fcn) { %>
    <% if(fcn.type == 'object') { %>
module('<%= fcn.name %>');<br>
        <% _.each(fcn.children, function(fcn2) { %>
&nbsp;&nbsp;test('<%= fcn.name %>.<%= fcn2.name %>',function(){<br>
    &nbsp;&nbsp;&nbsp;&nbsp;ok(<%= fcn.name %>.<%= fcn2.name %><% if(fcn2.params && fcn2.params.length > 0){ %>(<% _.each(fcn2.params, function(fcn3) { %><%= fcn3.name %>,<% }); %>)<% } %> == null,"passed");<br>
&nbsp;&nbsp;});<br>
        <% }); %>
    <% }else{ %>
test('<%= fcn.name %>',function(){<br>
    &nbsp;&nbsp;ok(<%= fcn.name %><% if(fcn.prototype && (!fcn.param || fcn.param.length == 0)){%>()<%}%><% if(fcn.params && fcn.params.length > 0){ %>(<% _.each(fcn.params, function(fcn3) { %><%= fcn3.name %>,<% }); %>)<% } %> == null,"passed");<br>
});<br>
        <div style='margin-left:20px'><% _.each(fcn.children, function(fcn2) { %>
test('<%= fcn.name %>.<%= fcn2.name %>',function(){<br>
    &nbsp;&nbsp;ok(<%= fcn.name %>.<%= fcn2.name %><% if(fcn2.prototype && (!fcn2.param || fcn2.param.length == 0)){%>()<%}%><% if(fcn2.params && fcn2.params.length > 0){ %>(<% _.each(fcn2.params, function(fcn3) { %><%= fcn3.name %>,<% }); %>)<% } %> == null,"passed");<br>
});<br>
                <% }); %><% _.each(fcn.prototype, function(fcn3) { %>
test('<%= fcn.name %>.<%= fcn3.name %>',function(){<br>
    &nbsp;&nbsp;ok(new <%= fcn.name %>().<%= fcn3.name %><% if(fcn3.type === 'function' && (!fcn3.param || fcn3.param.length == 0)){%>()<%}%><% if(fcn3.params && fcn3.params.length > 0){ %>(<% _.each(fcn3.params, function(fcn4) { %><%= fcn4.name %>,<% }); %>)<% } %> == null,"passed");<br>
});<br>
                <% }); %></div>
    <% } %>
<% }); %>
</script>
<script id="doc_template" type="text/template">
<h3>Documentation</h3>
<% _.each(data, function(fcn) { %>
    <% if(fcn.type == 'object') { %>
<h3><%= fcn.name %></h3>

        <% _.each(fcn.children, function(fcn2) { %>
<h4>&nbsp;&nbsp;<%= fcn2.name %></h4>  <i>&nbsp;&nbsp;<%= fcn.name %>.<%= fcn2.name %><% if(fcn2.params){ %>(<% _.each(fcn2.params, function(fcn3) { %><%= fcn3.name %>, <% }); %>)<% } %></i>
<p>&nbsp;&nbsp;Blurb about this function. You complete this yourself.</p>
<% }); %>
    <% }else{ %>
<h4><%= fcn.name %></h4>  <i><%= fcn.name %><% if(fcn.params){ %>(<% _.each(fcn.params, function(fcn3) { %><%= fcn3.name %>, <% }); %>)<% } %></i>

<p>Blurb about this function. You complete this yourself</p>
<div style='margin-left:20px'><% _.each(fcn.children, function(fcn2) { %>
<h5><%= fcn2.name %></h5>  <i><%= fcn.name %>.<%= fcn2.name %><% if(fcn2.params){ %>(<% _.each(fcn2.params, function(fcn3) { %><%= fcn3.name %>, <% }); %>)<% } %></i>
<p>Blurb about this function. You complete this yourself.</p>
<% }); %>
<% _.each(fcn.prototype, function(fcn3) { %>
<h5><%= fcn.name %>.<%= fcn3.name %></h5><i><%= fcn.name %>.<%= fcn3.name %><% if(fcn3.params && fcn3.params.length > 0){ %>(<% _.each(fcn3.params, function(fcn4) { %><%= fcn4.name %>,<% }); %>)<% } %> </i>
<p>Blurb about this function. You complete this yourself.</p>
                <% }); %>
</div>
    <% } %>
<% }); %>
</script>

<script id="tree_template" type="text/template">
<h3>Parse Tree</h3>
[<% _.each(data, function(fcn) { %>
<br><span>&nbsp;&nbsp;{ name: '<%= fcn.name %>',</span><br>
<span>&nbsp;&nbsp;&nbsp;&nbsp;type: '<%= fcn.type %>',</span>
    <% if (typeof fcn.children !== 'undefined'){ %>
<br><span>&nbsp;&nbsp;&nbsp;&nbsp;children: [<% _.each(fcn.children, function(fcn2) { %>
<br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ name: '<%= fcn2.name %>',</span><br>
<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type: '<%= fcn2.type %>' },</span>
        <% }); %>
<br><span>&nbsp;&nbsp;&nbsp;&nbsp;]
    <% } %> 
<br><span>&nbsp;&nbsp;},</span>
 <% if (typeof fcn.prototype !== 'undefined'){ %>
<br><span>&nbsp;&nbsp;&nbsp;&nbsp;prototype: [<% _.each(fcn.prototype, function(fcn2) { %>
<br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{ name: '<%= fcn2.name %>',</span><br>
<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;type: '<%= fcn2.type %>' },</span>
        <% }); %>
<br><span>&nbsp;&nbsp;&nbsp;&nbsp;]
    <% } %> 
<br><span>&nbsp;&nbsp;},</span>
<% }); %>
<br>]<br><br>
<p>NOTE: Only two levels deep are displayed in this demo</p>
<br>
</script>

<script>
var cache={};
function trim1 (str) {
    return str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
}

function loadUrl(){
    var obj,output,errors=[],source = trim1(document.getElementById('source').value);
    if (cache.s === source){
        obj = cache.o;
        errors = cache.e;
    }else{
        cache.s = source;
        cache.o = publicjs.getPublic(
            source,
            {
                tree:true,
                errorCallback: function(name,details){
                    errors.push({ k: name, v: details });
                  }
            });
        obj = cache.o;
        cache.e = errors;
    }
    var type = document.getElementById('outType').value;
    if (type === "1"){
        output = (_.template(document.getElementById('qunit_template').innerHTML))({data: obj});
        
    }else if (type === "2"){
        output = (_.template(document.getElementById('doc_template').innerHTML))({data: obj});
        
    }else if (type === "3"){
        if (errors.length > 0){
            output = "<h3>Public-Lint errors found:</h3>";
            errors.forEach(function(e){
                output+= "<p>Accessor error from "+e.v+"."+e.k+"</p>";
            });
        }else{
            output = "<h3>Public-Lint completed successfully.</h3><p>If you want to see it fail, try running this code:</p><br>";
            output += "var pattern1={};<br>";
            output += "Object.defineProperty(pattern1,'iWillCrashYou', {<br>";
            output += " get: function () { throw new Error('bwuahahah!'); },<br>";
            output += " enumerable: true<br>";
            output += "});<br>";
        }
    }else if (type === "4"){
        output = (_.template(document.getElementById('tree_template').innerHTML))({data: obj});
    }
    document.getElementById('results').innerHTML = output;
}
</script>





<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9011213; 
var sc_invisible=1; 
var sc_security="d96e7451"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="hit counter"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9011213/0/d96e7451/1/"
alt="hit counter"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
  </body>
</html>
